/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0, auto;
    padding: 20px;
}

h1 {
    color: #d9534f;
}

a {
    color: #0275d8;
    text-decoration: none;
    border-bottom: 1px solid #0275d8;
}

a:hover {
    color: #014c8c;
    border-bottom: 1px solid #014c8c;
}
